* {
    dadding: 0;
    marging: 0;
}

body {
    font: 12px/1.4 arial, verdana, tahoma, sans-serif;
    color: #262626;
    background: lavender;
}
#form {
    width: 35%;
    background: lavenderblush;
    border: 2px solid rebeccapurple;
    margin: 20px auto;
    padding: 20px 40px;
}
h1 {
    color: darkslateblue;
    font-size: 20px;
    border-bottom: 1px solid darkslateblue;
    marging-bottom: 10px;
}
.row {
    padding: 5px 0;

}
p {
    font-weight: bold;
    margin: 5px;
    color: darkblue;
}

input[type="text"], input[type="password"], select, textarea {
    font: 12px arial, verdana, tahoma, sans-serif;
    color: #262626;
    border: 1px solid darkslateblue;
}

input[type="text"], input[type="password"] {
    width: 210px;
    heigth: 26px;
    padding: 2px 5px;
}

select {
    width: 210px;
}

textarea {
    padding: 5px;
}

input[type="image"] {
    margin: 10px 0;
}