body {
    color: black;
    font: 14px/1.5 arial, verdana tahoma, sans-serif;
}

p {
    color: #262626;
    text-indent: 35px;
}

ol {
    list-style: upper-alpha inside;
}



ul {
    list-style: inside square;
}

#header {
    color: crimson;
    text-align: center;
}


p span {
    color: darkgoldenrod;
    text-decoration: line-through;
}

h2, h3 {
    color: blueviolet;
    text-align: center;
}

a:link {
    color: darkgreen;
}

a:visited {
    color: goldenrod;
}

a:hover {
    color: cyan;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
    font-weight: bold;
}

tr {
    text-align: center;
}

.left-column {
    text-align: left;
}

