p {
    color: #262626;
    font-family: arial, sans-serif;
    font-size: 16px;
}

ol {
        list-style: upper-alpha inside;
}

ul {
        list-style: inside square;
}

#header {
    color: crimson;
    font-family: Cambria;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-family: Cambria;
    font-size: 24px;
}

p span {
    color: darkgoldenrod;
    text-decoration: line-through;
}

h2, h3 {
    color: blueviolet;
    text-align: center;
}

a:link {
    color: darkgreen;
}

a:visited {
    color: goldenrod;
}

a:hover {
    color: cyan;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

.italic-text{
    font-style: italic; font-weight: bold;
}

tr {
    text-align: center;
}

.left-column {
    text-align: left;
}

.border {
      border-top: 2px dotted darkblue;
    border-bottom: 1px solid rebeccapurple;
    border-left: 3px dashed palegreen;
    border-right: 3px dashed palegreen;
}

